<form flex="70" ng-submit="saveRecord(customer)" name="customerForm">
  <md-dialog aria-label="Add Customer">
    <!--Modal toolbar-->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 style="color: white">{{modalTitle}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <!--Modal Content-->
    <md-dialog-content>
      <!--Parent row-->
      <div layout="row" layout-padding>
        <!--Column one-->
        <div layout="column" flex>
          <md-input-container>
            <label>Serial No</label>
            <input ng-model="customer.cusFormSerialNo" type="number" required>
          </md-input-container>
          <md-input-container>
            <label>CDS Account No</label>
            <input ng-model="customer.cusCdscAcNo" type="text" required>
          </md-input-container>
          <md-input-container style="margin-top: 0!important; margin-bottom: 3em">
            <label>Applicant Category</label>
            <md-select ng-model="customer.cusApplicantCategory" required>
              <md-option value="INDIVIDUAL">INDIVIDUAL</md-option>
              <md-option value="JOINT">JOINT</md-option>
              <md-option value="COMPANY">COMPANY</md-option>
              <md-option value="NOMINEE">NOMINEE</md-option>
            </md-select>
          </md-input-container>
          <md-input-container style="margin-top: 0!important">
            <label>Citizenship</label>
            <md-select ng-model="customer.cusCitizenship" required>
              <md-option value="RWANDAN">RWANDAN</md-option>
              <md-option value="EAST AFRICAN">EAST AFRICAN</md-option>
              <md-option value="FOREIGNER">FOREIGNER</md-option>
            </md-select>
          </md-input-container>
          <md-input-container>
            <label>Applicant Type</label>
            <md-select ng-model="customer.cusApplicantType" required>
              <md-option value="INDIVIDUAL">INDIVIDUAL</md-option>
              <md-option value="CORPORATE">CORPORATE</md-option>
              <md-option value="EMPLOYEE">EMPLOYEE</md-option>
              <md-option value="DISTRIBUTORS">DISTRIBUTORS</md-option>
              <md-option value="QII RWANDA">QII RWANDA</md-option>
              <md-option value="QII EA">QII EA</md-option>
            </md-select>
          </md-input-container>
          <md-input-container>
            <label>Applicant Residence</label>
            <md-select ng-model="customer.cusApplicantResidence" required>
              <md-option value="RESIDENT">RESIDENT</md-option>
              <md-option value="NON RESIDENT">NON RESIDENT</md-option>
            </md-select>
          </md-input-container>
          <md-input-container>
            <label>Tax Exempt</label>
            <md-select ng-model="customer.cusTaxExmpt" required>
              <md-option value="NO">NO</md-option>
              <md-option value="YES">YES</md-option>
            </md-select>
          </md-input-container>
        </div>
        <!--Column two-->
        <div layout="column" flex>
          <md-input-container>
            <label>Primary Applicant Names</label>
            <input ng-model="customer.cusOtherNames"
                   type="text" ng-disabled="!(customer.cusApplicantCategory =='INDIVIDUAL' || customer.cusApplicantCategory =='JOINT')"
                   ng-required="customer.cusApplicantCategory =='INDIVIDUAL' || customer.cusApplicantCategory =='JOINT'">
          </md-input-container>
          <md-input-container>
            <label>Joint Applicant Name</label>
            <input ng-model="customer.cusJointOthernames"
                   ng-disabled="customer.cusApplicantCategory !='JOINT'" type="text"
                   ng-required="customer.cusApplicantCategory == 'JOINT'">
          </md-input-container>
          <md-input-container>
            <label>Company Name</label>
            <input ng-model="customer.cusCompanyName"
                   ng-disabled="customer.cusApplicantCategory !='COMPANY'" type="text"
                   ng-required="customer.cusApplicantCategory == 'COMPANY'">
          </md-input-container>
          <md-input-container>
            <label>Nominee Name</label>
            <input ng-model="customer.cusNomineeName"
                   ng-disabled="customer.cusApplicantCategory !='NOMINEE'" type="text"
                   ng-required="customer.cusApplicantCategory == 'NOMINEE'">
          </md-input-container>
          <md-input-container>
            <label>Address</label>
            <input ng-model="customer.cusAddress" type="number">
          </md-input-container>
          <md-input-container>
            <label>Street</label>
            <input ng-model="customer.cusStreet" type="text">
          </md-input-container>
          <md-input-container>
            <label>Mobile No</label>
            <input ng-model="customer.cusMobilePhone" type="number">
          </md-input-container>
        </div>
        <!--Column three-->
        <div layout="column" flex>
          <md-input-container>
            <label>Primary Applicant Surname</label>
            <input ng-model="customer.cusSurname"
                   ng-disabled="!(customer.cusApplicantCategory =='INDIVIDUAL' || customer.cusApplicantCategory =='JOINT')" type="text"
                   ng-required="customer.cusApplicantCategory =='INDIVIDUAL' || customer.cusApplicantCategory =='JOINT'">
          </md-input-container>
          <md-input-container>
            <label>Joint Applicant Surname</label>
            <input ng-model="customer.cusJointSurname"
                   ng-disabled="customer.cusApplicantCategory !='JOINT'" type="text"
                   ng-required="customer.cusApplicantCategory == 'JOINT'">
          </md-input-container>
          <md-input-container>
            <label>Company Reg No</label>
            <input ng-model="customer.cusCompanyRegNo"
                   ng-disabled="customer.cusApplicantCategory !='COMPANY'" type="text"
                   ng-required="customer.cusApplicantCategory == 'COMPANY'">
          </md-input-container>
          <md-input-container>
            <label>Nominee Account No</label>
            <input ng-model="customer.cusNomineeAc"
                   ng-disabled="customer.cusApplicantCategory !='NOMINEE'" type="number"
                   ng-required="customer.cusApplicantCategory == 'NOMINEE'">
          </md-input-container>
          <md-input-container>
            <label>Postal Code</label>
            <input ng-model="customer.cusPostalCode" type="number">
          </md-input-container>
          <md-input-container>
            <label>Country</label>
            <input ng-model="customer.cusCountry" type="text">
          </md-input-container>
          <md-input-container>
            <label>Tel No</label>
            <input ng-model="customer.cusTelNo" type="number">
          </md-input-container>
        </div>
        <!--Column four-->
        <div layout="column" flex>
          <md-input-container>
            <label>Primary ID/Passport</label>
            <input ng-model="customer.cusIdNo"
                   ng-disabled="!(customer.cusApplicantCategory =='INDIVIDUAL' || customer.cusApplicantCategory =='JOINT')" type="text"
                   ng-required="customer.cusApplicantCategory =='INDIVIDUAL' || customer.cusApplicantCategory =='JOINT'">
          </md-input-container>
          <md-input-container>
            <label>Joint Applicant ID/Passport</label>
            <input ng-model="customer.cusJointApplicantIdNo"
                   ng-disabled="customer.cusApplicantCategory !='JOINT'" type="text"
                   ng-required="customer.cusApplicantCategory == 'JOINT'">
          </md-input-container>
          <md-input-container>
            <label>Date of Incorporation</label>
            <input ng-model="customer.cusCompanyDateOfInc"
                   ng-disabled="customer.cusApplicantCategory !='COMPANY'" type="date"
                   ng-required="customer.cusApplicantCategory == 'COMPANY'">
          </md-input-container>
          <md-input-container style="margin-top: 7.5em">
            <label>City/Town</label>
            <input ng-model="customer.cusTown" type="text">
          </md-input-container>
          <md-input-container>
            <label>Fax No</label>
            <input ng-model="customer.cusFaxNo" type="number">
          </md-input-container>
          <md-input-container>
            <label>Email</label>
            <input ng-model="customer.cusEmail" type="email">
          </md-input-container>
          <!--<span ng-if="modalTitle !='New Customer'">-->
          <!--<md-radio-group ng-model="customer.cusStatus" style="margin-top: 10px">-->
          <!--<md-radio-button value="1" class="md-primary">Active</md-radio-button>-->
          <!--<md-radio-button value="0"> Disabled</md-radio-button>-->
          <!--</md-radio-group>-->
          <!--</span>-->
        </div>
      </div>
    </md-dialog-content>

    <!--Footer section-->
    <md-dialog-actions layout="row">
      <span flex></span>
             <span ng-if="modalTitle =='New Customer'">
                <md-button md-no-ink class="md-raised md-primary" ng-disabled="customerForm.$invalid" type="submit">
                  Proceed to Applications
                </md-button>
            </span>
            <span ng-if="modalTitle =='Edit Customer'">
                <md-button md-no-ink class="md-raised md-primary" ng-disabled="customerForm.$invalid" type="submit">
                  Save
                </md-button>
            </span>
      <md-button ng-click="closeModal()" style="margin-right:20px;">Cancel</md-button>
    </md-dialog-actions>
  </md-dialog>
</form>
