<form flex="50" ng-submit="saveRecord(payment)" name="paymentForm">
  <md-dialog aria-label="Add Payment">
    <!--Modal toolbar-->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 style="color: white">{{modalTitle}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <!--Modal Content-->
    <md-dialog-content>
      <!--Parent row-->
      <div layout="row">
        <!--Column one-->
        <div layout="column" flex>
          <md-input-container class="md-icon-float md-block" style="margin-top: 1em!important;">
            <label>Payment Type</label>
            <md-select ng-model="payment.payType" required>
              <md-option value="CHEQUE">CHEQUE</md-option>
              <md-option value="EFT/RTGS">EFT/RTGS</md-option>
              <md-option value="MPESA">MPESA</md-option>
              <md-option value="KCB MTAANI">KCB MTAANI</md-option>
              <md-option value="BRANCH">BRANCH</md-option>
              <md-option value="MOBI">MOBI</md-option>
              <md-option value="INTERNET BANKING">INTERNET BANKING</md-option>
              <md-option value="GPS">GPS</md-option>
              <md-option value="IBG">IBG</md-option>
              <md-option value="LOU">LOU</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-icon-float md-block">
            <label>Account Name</label>
            <md-select ng-model="payment.payAccountName"
                       ng-disabled="(payment.payType == 'GPS' || payment.payType == 'IBG' || payment.payType == 'LOU')"
                       ng-required="!(payment.payType == 'GPS' || payment.payType == 'IBG' || payment.payType == 'LOU')">
              <md-option value="BRALIWA">BRALIWA</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-icon-float md-block">
            <label>Account Number</label>
            <md-select ng-model="payment.payAccountNo"
                       ng-disabled="(payment.payType == 'GPS' || payment.payType == 'IBG' || payment.payType == 'LOU')"
                       ng-required="!(payment.payType == 'GPS' || payment.payType == 'IBG' || payment.payType == 'LOU')">
              <md-option value="23233">23233</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-icon-float md-block">
            <label>Amount</label>
            <input ng-model="payment.payAmount" type="number" required>
          </md-input-container>
        </div>
        <!--Column two-->
        <div layout="column" flex>
          <md-input-container class="md-icon-float md-block" style="margin-top: 2.1em">
            <label>Cheque Number</label>
            <input ng-model="payment.payChequeNo" type="number"
                   ng-disabled="!(payment.payType == 'CHEQUE')"
                   ng-required="payment.payType == 'CHEQUE'">
          </md-input-container>
          <md-input-container class="md-icon-float md-block">
            <label>Transaction Ref. No.</label>
            <input ng-model="payment.payTransRef" type="text"
                   ng-disabled="(payment.payType == 'CHEQUE' || payment.payType == 'GPS' ||
                   payment.payType == 'IBG' || payment.payType == 'LOU')"
                   ng-required="!(payment.payType == 'CHEQUE' || payment.payType == 'GPS' ||
                   payment.payType == 'IBG' || payment.payType == 'LOU')">
          </md-input-container>
          <md-input-container class="md-icon-float md-block">
            <label>Terminal ID</label>
            <input ng-model="payment.payTerminalId" type="text"
                   ng-disabled="!(payment.payType == 'KCB MTAANI')"
                   ng-required="payment.payType == 'KCB MTAANI'">
          </md-input-container>
          <md-checkbox ng-model="payment.payFinanced" aria-label="paymentFinanced">
            Payment Financed
          </md-checkbox>
        </div>
        <!--Column three-->
        <div layout="column" flex ng-show="payment.payFinanced">
          <md-input-container class="md-icon-float md-block">
            <label>Bank</label>
            <md-select ng-model="payment.payFinancingBank"
                       ng-change="selectedBankChanged(payment.payFinancingBank)"
                       ng-disabled="!(payment.payFinanced)"
                       ng-required="payment.payFinanced">
              <md-option ng-repeat="code in bankCodes" ng-value="code.bankName">
                {{code.bankName}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-icon-float md-block">
            <label>Branch</label>
            <md-select ng-model="payment.payFinancingBankBranch"
                       ng-disabled="!(payment.payFinanced)"
                       ng-required="payment.payFinanced">
              <md-option ng-repeat="code in bankBranches" ng-value="code">
                {{code}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-icon-float md-block">
            <label>CSD Form Serial No</label>
            <input ng-model="payment.payCsdSrNum" type="number"
                   ng-disabled="!(payment.payFinanced)"
                   ng-required="payment.payFinanced">
          </md-input-container>
          <md-input-container class="md-icon-float md-block">
            <label>Loan Account No</label>
            <input ng-model="payment.payLoanAcNo" type="number"
                   ng-disabled="!(payment.payFinanced)"
                   ng-required="payment.payFinanced">
          </md-input-container>
          <!--<md-input-container class="md-icon-float md-block">-->
            <!--<label>Financing Bank</label>-->
            <!--<input ng-model="payment.financingBank" type="text"-->
                   <!--ng-disabled="!(payment.financed)"-->
                   <!--ng-required="payment.financed">-->
          <!--</md-input-container>-->
        </div>
      </div>
    </md-dialog-content>

    <!--Footer section-->
    <md-dialog-actions layout="row">
      <span flex></span>
            <span ng-if="modalTitle =='New Payment'">
                <md-button md-no-ink class="md-raised md-primary"
                           ng-disabled="paymentForm.$invalid" type="submit">Proceed to Refunds
                </md-button>
              </span>
              <span ng-if="modalTitle !='New Payment'">
                <md-button md-no-ink class="md-raised md-primary"
                           ng-disabled="paymentForm.$invalid" type="submit">Save
                </md-button>
              </span>
      <!--<md-button md-no-ink class="md-raised md-primary" ng-disabled="paymentForm.$invalid" type="submit">Save-->
      <!--</md-button>-->
      <md-button ng-click="closeModal()" style="margin-right:20px;">Cancel</md-button>
    </md-dialog-actions>
  </md-dialog>
</form>
