<md-dialog flex="90" aria-label="Assign roles to user">
    <!--Modal toolbar-->
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 style="color: white">{{modalTitle}}</h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <!--Modal Content-->
    <md-dialog-content>
        <div layout="row" flex="90" flex-offset="5">
            <!--Assigned roles column-->
            <div layout="column" flex="45">
                <!--Header-->
                <h3 class="md-title" flex-offset="5">Assigned Roles</h3>

                <!--Table-->
                <table class="md-table">
                    <thead>
                    <tr>
                        <th class="md-table-header">Role name</th>
                        <th class="md-table-header">
                            <md-checkbox
                                    ng-model="select.all"
                                    aria-label="SelectEverything"
                                    ng-change="selectAllRoles(assignedRoles)">
                            </md-checkbox>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="assignedRole in assignedRoles | itemsPerPage: assignedRolesItemsPerPage track by $index"
                        total-items="assignedRolesTotalItems" current-page="assignedRolesCurrentPage"
                        pagination-id="assigned">
                        <td class="md-table-content">{{assignedRole.name}}</td>
                        <td class="md-table-td-more">
                            <md-checkbox style="margin-top: 15px; margin-left: 5px"
                                         ng-model="select.individual[$index]"
                                         aria-label="SelectIndividual"
                                         ng-change="selectIndividual(assignedRole, $index)">
                            </md-checkbox>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!--Pagination-->
                <div layout="row">
                    <div flex-offset="10">
                        <pre style="margin-top: 15px">Page: {{assignedRolesCurrentPage}} / {{assignedRolesNumPages}}</pre>
                    </div>
                    <div flex-offset="15">
                        <dir-pagination-controls
                                pagination-id="assigned"
                                max-size="maxSize"
                                direction-links="true"
                                boundary-links="true"
                                template-url="views/pagination.html"
                                on-page-change="assignedRolesPageChanged(assignedRolesCurrentPage,assignedRolesItemsPerPage)"
                        ></dir-pagination-controls>
                    </div>
                    <div flex-offset="15">
                        <md-input-container>
                            <label>Items</label>
                            <md-select ng-model="assignedRolesItemsPerPage" aria-label="Items per page">
                                <md-option value="5">5</md-option>
                                <md-option value="10">10</md-option>
                                <md-option value="20">20</md-option>
                                <md-option value="50">50</md-option>
                                <md-option value="100">100</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </div>

            <!--Available roles column-->
            <div layout="column" flex="45" flex-offset="5">
                <!--Header-->
                <h3 class="md-title" flex-offset="5">Available Roles</h3>

                <!--Table-->
                <table class="md-table">
                    <thead>
                    <tr>
                        <th class="md-table-header">Role name</th>
                        <th class="md-table-header">
                            <md-checkbox
                                    ng-model="selectAvailable.all"
                                    aria-label="SelectEverything"
                                    ng-change="selectAllAvailableRoles(availableRoles)">
                            </md-checkbox>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="availableRole in availableRoles | itemsPerPage: availableRolesItemsPerPage track by $index"
                        total-items="availableRolesTotalItems" current-page="availableRolesCurrentPage"
                        pagination-id="available">
                        <td class="md-table-content">{{availableRole.name}}</td>
                        <td class="md-table-td-more">
                            <md-checkbox style="margin-top: 15px; margin-left: 5px"
                                         ng-model="selectAvailable.individual[$index]"
                                         aria-label="SelectIndividual"
                                         ng-change="selectAvailableIndividual(availableRole, $index)">
                            </md-checkbox>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!--Pagination-->
                <div layout="row">
                    <div flex-offset="10">
                        <pre style="margin-top: 15px">Page: {{availableRolesCurrentPage}} / {{availableRolesNumPages}}</pre>
                    </div>
                    <div flex-offset="15">
                        <dir-pagination-controls
                                pagination-id="available"
                                max-size="maxSize"
                                direction-links="true"
                                boundary-links="true"
                                template-url="views/pagination.html"
                                on-page-change="availableRolesPageChanged(availableRolesCurrentPage,availableRolesItemsPerPage)"
                        ></dir-pagination-controls>
                    </div>
                    <div flex-offset="15">
                        <md-input-container>
                            <label>Items</label>
                            <md-select ng-model="availableRolesItemsPerPage" aria-label="Items per page">
                                <md-option value="5">5</md-option>
                                <md-option value="10">10</md-option>
                                <md-option value="20">20</md-option>
                                <md-option value="50">50</md-option>
                                <md-option value="100">100</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
    </md-dialog-content>

    <!--Footer section-->
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button md-no-ink class="md-raised md-primary" ng-click="">Save</md-button>
        <md-button ng-click="closeModal()" style="margin-right:20px;">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>