<form flex="100" ng-submit="resetPassword(password)" name="resetPasswordForm">
  <div layout="row" layout-align="center center">
    <md-card flex="30" style="margin-top: 10vh" layout-padding>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Update Password</span>
          <span class="md-subhead">Please update your password below</span>
        </md-card-title-text>
      </md-card-title>
      <div layout="column">
        <md-input-container flex>
          <label>Email</label>
          <input ng-model="password.usrEmail" type="email" required>
        </md-input-container>
        <span ng-if="userStatus =='4'">
          <md-input-container flex>
            <label>New Password</label>
            <input type="password" ng-model="password.usr_password" required>
          </md-input-container>
          <md-input-container flex>
            <label>Confirm Password</label>
            <input type="password" ng-model="password.confirm" required
                   ng-keypress="resetPassEnterKeyPressed($event, password)">
          </md-input-container>
        </span>
        <md-button class="md-raised md-primary" type="submit" ng-disabled="resetPasswordForm.$invalid">Update Password
        </md-button>
        <a flex-offset="35" ui-sref="login">Go back to login</a>
      </div>
    </md-card>
  </div>
</form>
